{% extends "../base_1.html" %} {% block content %}
{% load static %}
{% if error %}
<h3>{{error}}</h3>
{% endif %}

<div class="header"><div class="headerLogo"><img src="{% static 'images/logo.png' %}" width="100%"/></div></div>
<div class="loginLabel">로그인</div>
<form method="POST">
  {% csrf_token %}
  <div class="idLabel">아이디</div>
  <div class="idForm"><input type="text" name="username" placeholder="id" /></div>
  <div class="passwordLabel">비밀번호</div>
  <div class="passwordForm"><input type="password" name="password" placeholder="password" /></div>
  <button type="submit" class="loginButton"><div class="loginButtonText">로그인</div></button>
</form>
{% endblock content %}
