{% extends "../base_1.html" %} {% block content %}
{% load static %}{% if error %}
<script type="text/javascript">
  alert("{{error}}");
</script>
{% endif %}

<div class="header"><div class="headerLogo"><img src="{% static 'images/logo.png' %}" width="100%"/></div></div>
<div class="loginLabel">회원가입</div>

<form method="POST">
  {% csrf_token %}
  <div class="idLabel">닉네임</div>

  <div class="idForm"><input type="text" name="nickname" placeholder="닉네임" /></div>
  <button type="submit" class="loginButton"><div class="loginButtonText">가입</div></button>

</form>


  
</form>

{% endblock content %}
