{% extends 'base.html' %}
{% block title %}동네방네{% endblock %}

{% block content %}

    <div class="affiliate">
        <div class="title">제휴 할인 정보</div>
        <div class="intro">우리 동네 지역 상권의<br /> 제휴 및 할인 정보를 받아보세요</div>
        <div class="content">
            <div class="content_box">
                <div class="content_box_left">
                    <img class="logo" src="../static/img/logo_galbi.png" alt="">
                </div>
                <div class="content_box_center">
                    <div class="content_box_center_title">썬더치킨 3000원 할인</div>
                    <div class="content_box_center_day">~9월1일</div>
                </div>
                <div class="content_box_right">
                    <button class="button">
                        <a href="{% url 'affiliate_detail' %}">
                        <span class="material-icons">
                            keyboard_arrow_right
                            </span>
                        </a>
                    </button>
                </div>
            </div>
            <div class="content_box">
                <div class="content_box_left">
                    <img class="logo" src="../static/img/logo_galbi.png" alt="">
                </div>
                <div class="content_box_center">
                    <div class="content_box_center_title">썬더치킨 3000원 할인</div>
                    <div class="content_box_center_day">~9월1일</div>
                </div>
                <div class="content_box_right">
                    <button class="button">
                        <span class="material-icons">
                            keyboard_arrow_right
                            </span>
                    </button>
                </div>
            </div>
            <div class="content_box">
                <div class="content_box_left">
                    <img class="logo" src="../static/img/logo_galbi.png" alt="">
                </div>
                <div class="content_box_center">
                    <div class="content_box_center_title">썬더치킨 3000원 할인</div>
                    <div class="content_box_center_day">~9월1일</div>
                </div>
                <div class="content_box_right">
                    <button class="button">
                        <span class="material-icons">
                            keyboard_arrow_right
                            </span>
                    </button>
                </div>
            </div>
            <div class="content_box">
                <div class="content_box_left">
                    <img class="logo" src="../static/img/logo_galbi.png" alt="">
                </div>
                <div class="content_box_center">
                    <div class="content_box_center_title">썬더치킨 3000원 할인</div>
                    <div class="content_box_center_day">~9월1일</div>
                </div>
                <div class="content_box_right">
                    <button class="button">
                        <span class="material-icons">
                            keyboard_arrow_right
                            </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}