{% extends 'base.html' %}
{% block title %}ㅇㅇ{% endblock title %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
    <div class="afd_title">지금 썬더치킨을 주문하시면<br />3천원을 할인해드립니다</div>
    <div class="content">
        <div class="content_img">
            <img class="img" src="../static/img/img_chicken.jpg" alt="치킨">
        </div>
        <div class="content_text">
            <div class="content_text_box">
                <div class="content_text_box_title">참여 기간</div>
                <div class="content_text_box_detail">20.08.01~20.08.31</div>
            </div>
        </div>
        <div class="content_text">
            <div class="content_text_box">
                <div class="content_text_box_title">참여 조건</div>
                <div class="content_text_box_detail">매장을 방문하여 구매하시는<br /> 분들 중 동네방네 앱을<br /> 다운로드 받으신 분</div>
            </div>
        </div>
        <div class="content_text">
            <div class="content_text_box">
                <div class="content_text_box_title">받는 혜택</div>
                <div class="content_text_box_detail">3천원 할인</div>
            </div>
        </div>
        <div class="content_text">
            <div class="content_text_box">
                <div class="content_text_box_title">전화 번호</div>
                <div class="content_text_box_detail">02-1234-5678</div>
            </div>
        </div>
        <div class="content_text">
            <div class="content_text_box">
                <div class="content_text_box_title">참여 기간</div>
                <div class="content_text_box_detail">20.08.01~20.08.31</div>
            </div>
        </div>
    </div>
{% endblock %}
</body>