<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/base.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    {% block css %} {% endblock %}
    <title>동네방네</title>
  </head>
  <body>
    <div class="nav_top">
      <button class="fake"> </button>
      <button class="button_logo">
      <div class="logo"><a href="{% url 'index' %}"><img src="../static/images/logo.png" alt="" width="136px"></a></div>
      </button>
      <button class="button_my_page">
          <a href="{% url 'mypage' %}"><img class="my_page" src="../static/img/ic_person_24px.png" alt=""></a>
      </button>
  </div>
  {%block content %} {%endblock%} 
    <div class="nav_bottom">
      <div class="nav_bottom_icon">
          <button>
            <a href="{% url 'building' %}">
              <img class="nav_bottom_icon_img" src="../static/img/group 16.png">
            </a>
            </button>
          <button>
            <a href="{% url 'info' %}">
              <img class="nav_bottom_icon_img" src="../static/img/group 14.png" href="{% url 'info' %}" >
            </a>
          </button>
          <button>
            <a href="{% url 'share' %}">
              <img class="nav_bottom_icon_img" src="../static/img/group 15.png" href="{% url 'share' %}">
            </a>
          </button>
          <button>
            <a href="{% url 'affiliate' %}">
              <img class="nav_bottom_icon_img" src="../static/img/group 5.png" href="{% url 'affiliate' %}">
            </a>
          </button>
          <button>
            <a href="{% url 'talk' %}">
              <img class="nav_bottom_icon_img" src="../static/img/group 12.png" href="{% url 'talk' %}">
            </a>
          </button>
      </div>
  </div>
  </body>

  </html>