{% extends 'base.html' %}
{% block title %}ㅇㅇ{% endblock title %}
{% block content %}
{% comment %} <a href="{% url 'logout' %}"> 로그아웃하기</a> {% endcomment %}
<div class="indexText" id="weather">{{user.profile.nickname}}님, 안녕하세요</br></br>우리동네 날씨</div>
<div class="indexBox" id="weatherBox">
<div class="weatherInfo" style="display:flex; flex-direction:row;"> 

    <div class="media-left">
    <figure class="image is-50x50">
        <img
        id="weatherlogo"
        src="http://openweathermap.org/img/w/{{ weather.icon }}.png"
        alt="Image"
        display="none"
        />
  </figure>
</div>
<div style="display:flex; flex-direction:column;">
<div id="temp" display="none" style="margin-left:20px; margin-top:30px;"></div>
</br>
<div>{{request.user.profile.region}}</div>
</div>
<div id="myLocationInfo"></div>
</br>
</div>


</div>
<div class="indexText" id="info">동네방네는?</div>
<div class="indexBox" id="infoBox">
    <div class="infoText">1인 가구를 위한 동네 정보 커뮤니티</br></br>동네 친구들과 정보를 공유하고 다른 동네도 </br>
    살펴보세요!</div>
</div>
<div class="indexText" id="sale">우리동네 할인 소식</div>
<div class="indexBox" id="saleBox">
            <div class="content_box_1">
                <div class="content_box_left">
                    <img class="logo" src="../static/img/logo_galbi.png" alt="">
                </div>
                <div class="content_box_center">
                    <div class="content_box_center_title"></br>썬더치킨 3000원 할인</div>
                    <div class="content_box_center_day"></br>~9월1일</div>
                </div>
            </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  var a = document.getElementById("myLocationInfo");

  function whereami(elt) {
    var options = {
      enableHighAccuracy: false,
      maximumAge: 30000,
      timeout: 15000,
    };

    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(success, error, options);
    } else {
      elt.innerHTML = "이 브라우저에서는 Geolocation이 지원되지 않습니다.";
    }

    const getWeather = async (latitude, longitude) => {
      const {
        data: {
          main: { temp },
          weather,
        },
      } = await axios.get(
        `http://api.openweathermap.org/data/2.5/weather?lat=${latitude}&lon=${longitude}&appid=b84e79fece5f6bdbba18a6fc83855bc0&units=metric`
      );
      const result = {
        temp,
        status: weather[0].main,
        icon: weather[0].icon,
      };
      return result;
    };

    function error(e) {
      elt.innerHTML = "Geolocation 오류 " + e.code + ": " + e.message;
    }
    // geolocation 요청이 성공하면 이 함수가 호출된다.
    function success(pos) {
      var location = [pos.coords.latitude, pos.coords.longitude];
      const weather = getWeather(location[0], location[1]);
      alert("날씨 정보가 업데이트 되었어요!");
      weather.then((result) => {
        console.log(result.temp);
        console.log(result.status);
        console.log(result.icon);
        var temp = document.getElementById("temp");
        var logo_url = `http://openweathermap.org/img/w/${result.icon}.png`;
        $("#weatherlogo").attr("src", logo_url).show();
        temp.innerText = result.temp + "도";
        temp.style.display = "show";
        status.innerText = result.status;
      });
    }
  }
  whereami(a);
</script>


{% endblock %}
