{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'mypage.css'%}">
{% if messages %}
<script type="text/javascript">
  alert("{{messages}}");
</script>
{% endif %}
<div class="profile">
  <div class="profile_img">
  </div>
  <div class="profile_desc">
      <h2>{{user.profile.nickname}}</h2>
      <h3>{{user.profile.region}}</h3>
  </div>
</div>
<div class="contents">
  <div class="contentt">
    <a href="{% url 'certificationlocation' user.profile.pk %}">
      <img class='icon1' src='../../static/img/ic_place_24px@2x.png'><button class="but">위치 인증하기</button></a>
  </div>
  <div class="contentt">
    <a href="{% url 'certificationbuilding' user.profile.pk %}">
      <img class='icon2' src="../../static/img/ic_business_24px@2x.png"><button class="but">건물 인증하기</button></a>
  </div>
  <div class="contentt">
    <a href="{% url 'editmyprofile' user.profile.pk%}"
    ><img class='icon3' src="../../static/img/ic_brightness_low_24px@2x.png"><button class="but">회원 정보 수정</button></a>
  </div>
  <div class="contentt">
    <a href="{% url 'logout'%}"><img class='icon4' src="../../static/img/ic_input_24px@2x.png"><button class="but">회원 탈퇴</button></a>
  </div>


</div>
{% endblock content %}
